.consultation
    min-height: 680px
    padding: 101px 0 108px
    background: url('../img/bg2.jpeg') center (center/cover) no-repeat
    &__descr
        margin-top: 9px
        color: rgb(255, 255, 255)
        font-size: 20px
        line-height: 30px
        font-weight: 500
        text-align: left
